{% extends 'frontend.html.twig' %}

{% block content %}
	<br>
	<div class="row container">
		<div class="col-md-6">
			<h4>Orden detalle Terminadas</h4>
		</div>
		<div class="col-md-6"></div>
	</div>

{% endblock %}